RewriteEngine On
RewriteBase /

# Ignore existing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.html
RewriteRule . /index.html [L]
