@import "tailwindcss";

/* html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00A693;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00A693;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #00A693 #f1f1f1;
} */

html {
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}

.neon-text {
  text-shadow:
    0 0 8px rgba(0, 166, 147, 0.6),
    0 0 16px rgba(0, 166, 147, 0.4),
    0 0 32px rgba(0, 166, 147, 0.25);
}


.neon-text {
  animation: neonPulse 3s ease-in-out infinite;
}

/* global.css */
.input-dark {
  @apply w-full px-4 py-3 rounded-lg bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-[#00A693];
}

select.input-dark option {
  background-color: #0a0a0a;
  color: #ffffff;
}



@keyframes neonPulse {

  0%,
  100% {
    text-shadow:
      0 0 8px rgba(0, 166, 147, 0.5),
      0 0 16px rgba(0, 166, 147, 0.3);
  }

  50% {
    text-shadow:
      0 0 14px rgba(0, 166, 147, 0.9),
      0 0 30px rgba(0, 166, 147, 0.6);
  }
}